<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHH7FtpkJgY5ym23ognMWBWnQ9OfILQcY</string>
	<key>GCM_SENDER_ID</key>
	<string>994710597903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>love.diary</string>
	<key>PROJECT_ID</key>
	<string>love-diary-776dc</string>
	<key>STORAGE_BUCKET</key>
	<string>love-diary-776dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994710597903:ios:3ce9cd7f02dda903124e7a</string>
</dict>
</plist>